@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #fff;
  --secondary: #388fce;
  --white: #fff;
  --background: rgb(28, 29, 38);
  --cardBackground: rgba(61, 66, 86, 0.8);
  --movieTitle: rgba(255, 255, 255, 0.7);
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(28, 29, 38)
}

.video-box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.detail-container {
  margin-top: 40px;
}

.detail-container .detail-info {
  margin: 20px 5px 30px;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn-search {
  border-radius: 99px;
  border: 2px solid white;
  padding: 1px 10px;
}

.btn-sort {
  padding: 10px 15px;
  margin: 0 5px 0;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn-sort-active {
  padding: 10px 15px;
  margin: 0 5px 0;
  background: none;
  color: rgba(255, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn {
  padding: 10px 15px;
  background-color: transparent;
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: 1px solid white;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
  margin-right: 10px;
}

.btn-remove {
  padding: 10px 15px;
  background-color: transparent;
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: 1px solid white;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  color: rgba(255, 48, 48, 0.8);
  opacity: 1;
  cursor: pointer;
}

.btn-sort:hover {
  background-color: none;
  color: rgba(255, 48, 48, 0.8);
  cursor: pointer;
}

.btn-remove:hover {
  color: rgb(255, 48, 48);
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  opacity: 0.7;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

header a:hover {
  opacity: 1;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 1;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

.searchText {
  margin-left: 10px;
}

.logo {
  color: red
}

.random-banner .inner {
  display: flex;
  max-height: 750px;
  position: relative;
  bottom: 60px;
  z-index: -1;
}

.random-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: cover;
}

.random-banner .inner {
  position: relative;
}

.random-banner .inner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: -webkit-radial-gradient(50% 25%, ellipse cover, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.85) 85%); */
  background: linear-gradient(to bottom, rgb(52, 52, 52, 0.1) 0%, rgb(28, 29, 38) 90%);
}


/* Sarch Page */
.about_values {
  color: white;
}

.about_section {
  color: white;
}

.about_banner {
  width: 100%;
  min-width: 650px;
  position: relative;
}

.about_banner_img {
  max-width: 100%;
  vertical-align: middle;
}

.about_banner_text {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white
}

.about_banner_text h1 {
  font-size: 3em;
}

.about_banner_text p {
  font-size: 2em;
}

/* Add Page */
.add-content {
  padding: 50px 0;
  margin: 0 auto;
  min-height: 100vh;
}

.main-page .container {
  position: relative;
  bottom: 100px
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  color: var(--white);
  font-size: 1.25rem;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 40%);
}


::placeholder {
  color: white
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.result-card {
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  background-color: var(--cardBackground);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
}

.result-card .poster-wrapper img {
  width: 250px;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.filler-poster {
  width: 250px;
  background-color: #000000;
  border-radius: 5px;
  margin-right: 15px;
  z-index: auto;
  display: block;
  opacity: 0.5;
  position: relative;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.result-card .info .title {
  font-size: 1.5rem;
  color: var(--movieTitle);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 300;
}

.result-card .info .rating {
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 20px;
}

.result-card .info .overview {
  padding-top: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}


.result-card .controls button {
  margin-right: 10px;
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
  min-height: 100vh;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: transparent;
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  border: 2px solid white;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.favorite-movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  list-style: none;
  padding-left: 0;
}

.main-movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  list-style: none;
  padding: 0;
}

@media (min-width: 700px) {
  .favorite-movie-grid {
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
  }

  .main-movie-grid {
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
  background-color: var(--cardBackground);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 40%);
  transition: all .3s ease-in-out;
}

.movie-card h4 {
  margin: 0;
  justify-content: right;
}

.movie-card .title {
  font-size: 1.2rem;
  color: var(--movieTitle);
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px
}

.movie-card .release-date {
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;
}

.movie-card .rating {
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .inner a {
  position: relative;
}

.movie-card .inner a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(50% 55%, ellipse cover, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6) 100%)
}


.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}


.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.02);
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
  color: #fe312a78;
  text-transform: uppercase;
  font-weight: 700;
}

.ctrl-btn:hover {
  color: #fe322a;
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

.movies {
  list-style-type: none;
}

.sort-wrapper {
  text-align: right;
  margin-top: -40px;
}

.sort-wrapper :nth-child(4) {
  margin-right: 0;
}

/* footer styles */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

footer p {
  color: var(--white);
  font-size: 1.25rem;
}

.about_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.about_section>section {
  max-width: 370px;
  margin: 10px;
  flex: 0 200px;
  flex-shrink: 0;
  flex-basis: 200px;
  height: 550px;
}

.about_section>section>img {
  width: 350px;
}

.about_section>section>p {
  height: 150px;
}

.TMDb_attri {
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.TMDb_attri>p {
  color: white;
}

.TMDb_attri>img {
  max-width: 100px;
}

section::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  position: relative;
  align-content: center;
  background: #fe322a;
  margin-left: 20px;
}

.about_values {
  text-align: center;
  margin: 100px;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .about_banner_text h1 {
    font-size: 4rem;
  }

  .about_banner_text p {
    margin-top: 100px;
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}